<hr>
<h1>radiobuttons</h1>

<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="form-group">
    <label for="firstname">firstname</label>
    <input type="text" required minlength="3" maxlength="10" pattern="bananas"
    ngModel name="firstname" #passname="ngModel" (change)="log(passname)"
    id="firstname" class="form-control">




    <div class="alert alert-danger" *ngIf="passname.touched && !passname.valid">
      <div *ngIf="passname.errors.required">firstname is required</div>
      <div *ngIf="passname.errors.minlength">firstname min {{ passname.errors.minlength.requiredLength }} characters</div>
      <div *ngIf="passname.errors.pattern">firstname does not match pattern</div>
    </div>
  </div>




  <div class="form-group">
    <label for="comments">comments</label>
    <textarea rows="10" cols="30"
    ngModel name="comments" id="comments" class="form-control"></textarea>
  </div>



  <div class="radio" *ngFor="let radio of options">
    <label>
        <input ngModel type="radio" name="contactMethod" [value]="radio.id">
        {{ radio.optionName }}
    </label>
  </div>

  <!-- <div class="radio">
    <label>
        <input ngModel type="radio" name="contactMethod" value="2">
        phone
    </label>
  </div> -->

  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->



  <p>{{ f.value | json }}</p>

  <button class="btn btn-primary" [disabled]="!f.valid">submit</button>
</form>
