<div>
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="query" matInput placeholder="Filter">
    </mat-form-field>
</div>

<mat-table [dataSource]="dataSource | filter: query" matSort class="mat-elevation-z0">

    <ng-container *ngFor="let item of displayedColumns">
        <ng-container [matColumnDef]="item">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{item}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[item]}} </mat-cell>
        </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>