<!-- <div class="container">
<div class="row">
  <div class="col-lg-12">
    <div id="asso" class="glyphicon glyphicon-star-empty" (click)="onClick()"></div>
  </div>
</div>
</div> -->


<!-- <div class="glyphicon"
  [class.glyphicon-star]="isFavourite"
  [class.glyphicon-star-empty]="!isFavourite"
  (click)="onClick()"></div> -->

<!-- we can do better using ng-class... -->

<div class="glyphicon"
  [ngClass]="{
    'glyphicon-star': isFavourite,
    'glyphicon-star-empty': !isFavourite
  }" 
  (click)="onClick()">
</div>
