<form>
  <div class="form-group">
  <label for="firstname">firstname</label>
  <input type="text" ngModel name="firstname" #firstname="ngModel" (change)="log(firstname)" id="firstname" class="form-control">
</div>

  <div class="form-group">
  <label for="comments">comments</label>
  <textarea rows="10" cols="30" ngModel name="comments" id="comments" class="form-control"></textarea>
</div>

<button class="btn btn-primary">submit</button>
</form>

<!-- so we have built this basic bootrap form (ALWAYSA REMEMBER CLOSING THE textarea TAG!) an now we wanna add validation to this, using the 'template driven approach': we apply a directive to an input field and angular will create a control obj and associate with that inpit field in the backstage. The directive we are gonna apply is mgModel. -->

<!-- In order to understand what's going on we add a (change)="log()".
Now we need to pass a reference - passname="ngModel" - of the ngmodel directive to our method: (change)="log(passname)"
Let's go implement this method... -->
