

<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <!-- ESTRATTI DA TE -->
      <div class="nested-menu">
        <a class="list-group-item">
          <i class="fa fa-shopping-cart"></i>&nbsp;
          <span>Estratti da Te</span>
        </a>
      </div>


<!-- CODE DI LAVORO -->
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('cdlavoro')">
          <i class="fa fa-tasks"></i>&nbsp;
          <span>Code di Lavoro</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'cdlavoro'">
          <ul class="submenu">

            <li class="asso" *ngFor="let fdQ of fdQualificazione" (click)="lsFax($event)">
              <a [routerLink]="['/cdlavoro']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fax"></i>&nbsp;
                <span>{{ fdQ.canaleAssociato }}</span>
              </a>
            </li>

            <li  *ngFor="let fda of fdAttivazione">
              <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-archive"></i>&nbsp;
                <span>{{ fda.nomeCoda }}</span>
              </a>
            </li>

            <li  *ngFor="let fg of fGenerico">
              <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-archive"></i>&nbsp;
                <span>{{ fg.nomeCoda }}</span>
              </a>
            </li>

            <li *ngFor="let cc of creditoConsumer">
              <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-cross"></i>&nbsp;
                <span>{{ cc.nomeCoda }}</span>
              </a>
            </li>


          </ul>
        </li>
      </div>

<!-- FUNZIONALITÀ -->
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('funzionalita')">
          <i class="fa fa-fw fa-wrench"></i>&nbsp;
          <!-- <span>{{ 'Menu' | translate }}</span> -->
          <span>Funzionalità</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'funzionalita'">
          <ul class="submenu">
            <li>
              <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-desktop"></i>&nbsp;
                <!-- <span>{{ 'Component' | translate }}</span> -->
                <span>Monitor CdL</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-search"></i>&nbsp;
                <!-- <span>{{ 'Component' | translate }}</span> -->
                <span>Ricerca Pratiche</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-search"></i>&nbsp;
                <!-- <span>{{ 'Component' | translate }}</span> -->
                <span>Ricerca Clienti</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/docs-list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-search"></i>&nbsp;
                <!-- <span>{{ 'Component' | translate }}</span> -->
                <span>Ricerca Docs</span>
              </a>
            </li>
          </ul>
        </li>
      </div>

      <div class="header-fields">
        <a (click)="rltAndLtr()" class="list-group-item">
          <!-- <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span> -->
        </a>
        </div>
      </div>

      <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>Collapse sidebar</span>
      </div>
    </nav>
