<h1 class="mb-5">Todos List Dashboard Edition!</h1>

<div class="row">
    <div class="col-6">
        <bootstrap-form [formGroup]="formGroup" (handleSubmit)="handleSubmit($event)">

            <bootstrap-input [formGroup]="formGroup" [name]='name'>
            </bootstrap-input>

        </bootstrap-form>

        <div class="row mt-5">
            <div class="col">
                <bootstrap-list-group *ngFor="let todo of todos">
                    <span (click)="taskCompleted(todo)" class="todo" [ngClass]="{'completed': todo.done}">
                        {{ todo.task }}
                    </span>
                    <button (click)="todoDelete(todo)" class="btn btn-danger btn-sm float-right">Remove</button>
                </bootstrap-list-group>
            </div>
        </div>

    </div>
    <div class="col-6">
        <bootstrap-card>
            <ng-container class="title">
                Dashboard
            </ng-container>

            <ng-container class="body">
                <p><span class="mr-2">Last Update:</span>{{ lastUpdate }}</p>
                <p><span class="mr-2">Total Items:</span>{{ todos.length }}</p>
                <button class="btn btn-danger" (click)="todosDeleteAll()">Delete All</button>
            </ng-container>

        </bootstrap-card>
    </div>
</div>