<ul class="progress-tracker progress-tracker--word progress-tracker--word-center">

  <li class="progress-step is-complete">
    <span class="progress-marker"></span>
    <span class="progress-text">
      <p class="progress-title">Fatto</p>
    </span>
  </li>
  <li class="progress-step is-complete">
    <span class="progress-marker"></span>
    <span class="progress-text">
      <p class="progress-title">Fatto</p>
    </span>
  </li>
  <li class="progress-step is-complete">
    <span class="progress-marker"></span>
    <span class="progress-text">
      <p class="progress-title">Fatto</p>
    </span>
  </li>


  <li class="progress-step is-active">
    <span class="progress-marker"></span>
    <span class="progress-text">
      <p class="progress-title">Sto Facendo</p>
    </span>
  </li>

</ul>
