<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Directives</a>
    <div class="collapse navbar-collapse mr-auto mt-2 mt-lg-0" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['/content']">content</a>
            <a class="nav-item nav-link" [routerLink]="['/ngif']">ngIf/template</a>
            <a class="nav-item nav-link" [routerLink]="['/switchcase']">switchcase</a>
            <a class="nav-item nav-link" [routerLink]="['/ngclass']">ngclass</a>
        </div>
    </div>
</nav>

