<!-- <div *ngIf="courses.length > 0">List of courses</div>
<div *ngIf="courses.length === 0">No courses yet</div> -->



<!-- there's a second way -->
<!-- if this condition is truthy this block will render otherwise the other block -->

<!-- <div *ngIf="courses.length > 0; else noCourses">List of courses</div>
<ng-template #noCourses>No courses yet</ng-template> -->



<!-- there is a third approach -->
<div *ngIf="courses.length > 0;
  then coursesList
    else noCourses">List of courses</div>

<ng-template #coursesList>List of courses</ng-template>
<ng-template #noCourses>No courses yet</ng-template>
