<div class="row">

    <bootstrap-pills class="m-3" *ngFor="let tab of tabs" (click)="toggleActiveClass(tab)" [tab]="tab" [viewMode]="viewMode">

        <ng-container class="tab-label">
            {{ tab.name }}
        </ng-container>

        <ng-container class="tab-content">

            <div *ngIf="tab.viewMode === 'beginners-courses'">

                <bootstrap-card *ngFor="let course of beginners" [currentObj]="course">

                    <ng-container class="icon-url">
                        <img [src]="course.iconUrl" class="card-img-top" alt="">
                    </ng-container>


                    <ng-container class="body">
                        <h5 class="card-title">
                            {{ course.titles.description }}
                        </h5>
                        <p class="card-text">
                            {{ course.titles.longDescription }}
                            <strong>{{ course.seqNo }}</strong>
                        </p>
                    </ng-container>

                    <ng-container class="button">
                        <a [routerLink]="['/courses', course.id]" routerLinkActive="router-link-active" class="btn btn-primary">
                            Details
                        </a>
                    </ng-container>
                </bootstrap-card>
            </div>

            <div *ngIf="tab.viewMode === 'advanced-courses'">
                <bootstrap-card *ngFor="let course of advanced" [currentObj]="course">

                    <ng-container class="icon-url">
                        <img [src]="course.iconUrl" class="card-img-top" alt="">
                    </ng-container>

                    <ng-container class="body">
                        <h5 class="card-title">
                            {{ course.titles.description }}
                        </h5>
                        <p class="card-text">
                            {{ course.titles.longDescription }}
                            <strong>{{ course.seqNo }}</strong>
                        </p>
                    </ng-container>

                    <ng-container class="button">
                        <a [routerLink]="['/courses', course.id]" routerLinkActive="router-link-active" class="btn btn-primary">
                            Details
                        </a>
                    </ng-container>
                </bootstrap-card>
            </div>

        </ng-container>

    </bootstrap-pills>