<div class="row mt-5">
    <div class="col">
        <bootstrap-form-container 
            [title]="title" 
            [formObj]="objModel" 
            (onFormSubmitted)="onFormSubmitted($event)">

            <bootstrap-form-group 
                *ngFor="let formGroup of credentials"
                [formModel]="objModel"
                [type]="formGroup.type" 
                [name]="formGroup.name">
                {{ formGroup.label }}
            </bootstrap-form-group>
            
        </bootstrap-form-container>
    </div>
</div>