<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline">
    <input [(ngModel)]="query" name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
</nav>

<div class="container">
  <div class="row">
    <div *ngFor="let beer of onLoad | filter : query" class="card-group col-lg-3" (click)="open(content)">
      <div class="card">
        <img class="card-img-top" src="{{ beer.image_url }}" alt="{{ beer.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ beer.name }}</h5>
          <p><span>ABV:</span> {{ beer.abv }}%</p>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card pairing">
          <div class="card-header">
            Food Pairing
          </div>
          <ul class="list-group list-group-flush">
            <li *ngFor="let food of beer.food_pairing" class="list-group-item">{{ food }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 text-center">
      <button (click)="moreBeer()" class="btn btn-info">More Beer</button>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>


<!-- MODAL -->

<ng-template #beerModal >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ beer.name }}</h4>
  </div>

  <div class="modal-body">
    <p><span>ABV:</span> {{ beer.abv }}%</p>
  </div>

  <div class="modal-footer">
  </div>
</ng-template>
