<div class="wrapper">
  <header class="l-box">
    <h1>Coffee Assembly</h1>
    <input type="text" #caffe (keyup.enter)="onKeyUp(caffe.value)" class="search" placeholder="Search...">
  </header>

  <main class="coffeeIndex">

    <div class="container">
      <div class="row">
        <div *ngFor="let coffee of coffeeList" class="col-lg-4">
          <img src="{{ coffee.image }}" alt="{{ coffee.name }}" class="pure-img">
          <h2>{{ coffee.name }}</h2>
          <p>Price <strong>{{ coffee.price }} / kg</strong></p>
          <p>Strength <strong>{{ coffee.strength }}</strong></p>
          <p>Roast <strong>{{ coffee.roast }}</strong></p>
        </div>
      </div>
    </div>

  </main>
</div>
