.asso-menu {
  width: 200px;
  background-color: silver;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  opacity: 0;
  transition: all .75s ease;
  z-index: 1000;
  position: absolute;
}


.asso-el{
  list-style: none;
  line-height: 2.5em;
  border-bottom: 1px solid rgba(0,0,0,.15);;
  padding-left: 1em;
}

.asso-el:hover{
  background-color: #f8f9fa;
  color: #16181b;
  transition-duration: .2s;
  transition-timing-function: linear, ease-in;
  cursor: pointer;
}

ul li.asso-el:last-child {
  border-bottom: none;
}

.show{
  opacity: 1;
}
