main{
  width: 640px;
  margin: 20px 0 20px 20px;
}

ul{
  list-style: none;
}

li{
  width: 100%;
  height: 100px;
  /* background-color: pink; */
  border-bottom: 1px solid white;
  margin-bottom: 5%;
}

img{
  width: 100px;
  height: 100%;
  float: left;
  /* background-color: grey; */
  border-radius: 100px;
}

.info{
  width: 540px;
  height: 100%;
  float: right;
  /* background-color: pink; */
  position: relative;
}

.info div{
  height: 50%;
  width: 50%;
  position: absolute;
  top: calc(40% - 25px);
  left: calc(50% - 250px);
}

.info div p {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

a{
  color: DodgerBlue;
  text-decoration: none;
}
