@import "~src/css-partials/_variables";

div.box{
  @extend .custom-card;
  @extend .border-blue;
}

label{
  padding-top: 3%;
}

// Making space between the 3 divs in the last row
div{
  .row.nomargin{
    margin-left: 0px;
    margin-right: 0px;
    &:nth-child(4){
      div.col-xl-3{
        height: 60vh;
        &:nth-child(1){
          border-right: 5px solid #ecf0f5;
        }
        &:nth-child(3){
          overflow: auto;
          border-left: 5px solid #ecf0f5;
        }
      }
      div.col-xl-6{
        border-left: 5px solid #ecf0f5;
        border-right: 5px solid #ecf0f5;
        height: 60vh;
        overflow: auto;
      }
    }
  }
}
