<header>
    <!-- <img src="images/logo.svg"> -->
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a [routerLink]="['/checkbox']">checkbox</a></li>
            <li><a [routerLink]="['/radio']">radio btns</a></li>
            <li><a [routerLink]="['/select']">select</a></li>
            <li><a [routerLink]="['/input']">input</a></li>
            <li><a [routerLink]="['/textarea']">textarea</a></li>
            <li><a [routerLink]="['/datepicker']">datepicker</a></li>
        </ul>
    </nav>
</header>