<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <a class="navbar-brand" href="#">
        <img *ngIf="user" [src]="user?.photoURL" width="30" height="30" class="d-inline-block align-top" alt="">
        Bootstrap
    </a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a [routerLink]="['/login']" class="nav-item nav-link" href="#" *ngIf="!isAuth" >Sign in</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </div>
    </div>

</nav>