.card-img-top {
  height: 50vh;
  object-fit: contain;
}

.card-group{
  margin-top: 2.5%;
}

.card{
  border: none;
}

.card.pairing{
  border: 1px solid silver;
}


.row:last-child .col-lg-4{
  margin: 5% 0 5% 0;
}
