<h1>Donut Shop</h1>

<form #donutform="ngForm" (submit)="donutsCreate(donutform)">
<!-- <form #f="ngForm" (submit)="onSubmit(f)"> -->

  <input type="text"
  ngModel name="flavour" #passflavour="ngModel"
  id="flavour" placeholder="What type of donut?">

  <select ngModel name="style" #passstyle="ngModel" id="style">
    <option value="Old Fashioned">Old Fashioned</option>
    <option value="Cake">Cake</option>
    <option value="French Cruller">French Cruller</option>
    <option value="Yeast">Yeast</option>
  </select>

  <p>{{ donutform.value | json }}</p>

  <input type="submit" value="Save My Donut">
</form>

<ul id="donuts">
  <li *ngFor="let donut of all ">
    {{ donut.flavour }} - <em>{{donut.style}}</em>
    <button (click)="updateDonut(donut)">Edit</button>
    <button (click)="deleteDonut(donut)">Delete</button>
  </li>
</ul>



<!-- DONUT FORM -->
<!-- 1. import ngform app module -->
<!-- 2. create template variable #donut -->
<!-- 3. hookup the form to the ts component with ngModel and #donut="ngModel" -->
<!-- 4. console.log the form -->
<!-- 5. add onsubmit method to and ngForm to the <form> -->
