<div class="container">
<!-- title -->
  <div class="row">
    <div class="col-md-3 lines labels">Id</div>
    <div class="col-md-3 lines labels">Title</div>
    <div class="col-md-3 lines labels">Body</div>
    <div class="col-md-3 lines labels">Actions</div>
  </div>
  <!-- body -->
  <div *ngFor="let item of groupsAll" class="row">

    <div class="col-md-3 lines">
      {{ item.id }}
    </div>

    <div class="col-md-3 lines">
      {{ item.title }}
    </div>

    <div class="col-md-3 lines">
      {{ item.body }}
    </div>

    <div class="col-md-3 lines">
      <button (click)="greet(item, $event)" class="btn btn-danger" type="button" name="button">Save</button>
    </div>

  </div>
</div>







<!--

<table class="table">
  <thead>
    <tr>
      <th>title</th>
      <th>id</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of groupsAll">
      <td>
        <ul (click)="toggleMenu($event)" class="asso-menu" id="asso">
          <li class="asso-el">Action</li>
          <li class="asso-el">Another action</li>
          <li class="asso-el">Something else here</li>
        </ul>
      </td>
      <td>{{ item?.title }}</td>
      <td>{{ item?.id }}</td>
    </tr>
  </tbody>
</table> -->
