<ngb-tabset>
  <ngb-tab title="Folder Classificazione">
    <ng-template ngbTabContent>
      <table class="table">
        <tbody>
          <tr>
            <th scope="col">Denominazione</th>
            <td>{{ bird.name }}</td>
          </tr>
          <tr>
            <th scope="col">Attività</th>
            <td>{{ bird.latinName }}</td>
          </tr>
          <tr>
            <th scope="col">Canale</th>
            <td>{{ bird.family }}</td>
          </tr>
          <tr>
            <th scope="col">Ricevuto</th>
            <td></td>
          </tr>
          <tr>
            <th scope="col">Provenienza</th>
            <td></td>
          </tr>
          <tr>
            <th scope="col">Assignato</th>
            <td>NO</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
