<ng-container *ngIf="dataSource && dataSource.filteredData">

    <!-- <mat-form-field *ngIf="tableFilter.isFiltering">
        <mat-label>
            <span>
                <mat-icon class="search">search</mat-icon>
            </span>
            {{ label }}
        </mat-label>
        <input (keyup)="applyFilter($event.target.value)" matInput autocomplete="off">
    </mat-form-field> -->

    <ng-container *ngIf="hasVirtualScroll 
        then vs 
        else table">
    </ng-container>
</ng-container>


<!-- REGULAR TABLE -->
<ng-template #table>
    <table mat-table
        [dataSource]="dataSource"
        matSort>

        <ng-container *ngFor="let col of columns"
            [matColumnDef]="col">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                (click)="columnSort()">{{ col | hideth: col | titlecase}}</th>

            <td mat-cell
                *matCellDef="let element; even as isEven">

                <div *ngIf="element[col].isValueShow"
                    [matTooltip]="element[col].tooltip ? element[col].value: ''">
                    <span [class]="element[col].className">
                        {{ element[col].value }}
                    </span>
                </div>

                <mat-icon [color]="element[col].color"
                    *ngIf="element[col].isIconShow"
                    [matTooltip]="element[col].tooltip ? element[col].value: ''">{{ element[col].icon }}
                </mat-icon>


                <ng-container *ngIf="col === 'action'">
                    <div class="action">
                        <button mat-icon-button
                            [matMenuTriggerFor]="menu"
                            aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item
                                *ngFor="let item of element[col].value"
                                (click)="actions(item)">
                                <mat-icon>
                                    {{item.icon}}
                                </mat-icon>
                                <span>
                                    {{item.name}}
                                </span>
                            </button>
                        </mat-menu>
                    </div>
                </ng-container>
                <!-- 
                <ng-container *ngIf="col === 'action'">
                    <mat-icon *ngFor="let item of element[col].value"
                        [matTooltip]="item.name"
                        [color]="item.color">
                        {{item.icon}}
                    </mat-icon>
                </ng-container> -->

            </td>
        </ng-container>


        <tr mat-header-row
            *matHeaderRowDef="columns; sticky:true"></tr>
        <tr mat-row
            class="sticky-col"
            style="height: 60px;"
            *matRowDef="let row; columns: columns;"></tr>
    </table>

 
</ng-template>


<!-- VIRTUAL SCROLL -->
<ng-template #vs>
    <cdk-virtual-scroll-viewport tvsItemSize="60"
        style="height: 75vh;">
        <table mat-table
            [dataSource]="dataSource"
            matSort>

            <ng-container *ngFor="let col of columns"
                [matColumnDef]="col">
                <th mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    (click)="columnSort()">{{ col | hideth: col | titlecase}}</th>

                <td mat-cell
                    *matCellDef="let element; even as isEven">

                    <div *ngIf="element[col].isValueShow"
                        [matTooltip]="element[col].tooltip ? element[col].value: ''">
                        <span [class]="element[col].className">
                            {{ element[col].value }}
                        </span>
                    </div>

                    <mat-icon [color]="element[col].color"
                        *ngIf="element[col].isIconShow"
                        [matTooltip]="element[col].tooltip ? element[col].value: ''">{{ element[col].icon }}
                    </mat-icon>


                    <ng-container *ngIf="col === 'action'">
                        <mat-icon *ngFor="let item of element[col].value"
                            [matTooltip]="item.name"
                            [color]="item.color">
                            {{item.icon}}
                        </mat-icon>
                    </ng-container>

                </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="columns; sticky:true"></tr>
            <tr mat-row
                style="height: 60px;"
                *matRowDef="let row; columns: columns;"></tr>
        </table>
    </cdk-virtual-scroll-viewport>
</ng-template>

