<div class="poets-container">
  <h1>Angular Filter!</h1>

  <p>{{ getTitle() }}</p>


  <!-- Per prendere il contenuto del testo inserito nel form: -->
  <input type="text" #email (keyup.enter)="onKeyUp(email.value)" placeholder="Search..." />
  <!-- now in the poeti.component.ts w can do... -->


  <!-- <input type="text" (keyup.enter)="onKeyUp()" placeholder="Search..." /> -->

  <ul>
    <li *ngFor="let coffee of arrayOfCoffee">{{ coffee.name }}</li>
  </ul>


  <div class="maggie" [class.open]="isOpen"></div>
  <div class="maggie" [class.open]="isOpen"></div>
  <div class="maggie" [class.open]="isOpen"></div>



    <div class="asso" (click)="onClick()">
      <p>Save</p>
    </div>



</div>
