$wanda: #56ADF5;

.my-baby{
  display: none;
}

.open{
  display: block;
}

span{
  margin-right: 5%;
  .fa{
    color: $wanda;
  }
}

ul{
  li{
    color: #868686;
  }
  ul{
    li{
      &:first-child{
        padding-left: 10%;
      }
    }
    ul{
      li{
        padding-left: 15%;
        span{
          .fa{
            color: #1976D2;
          }
        }
      }
    }
  }
}
