/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


form{
  width: 70vw;
  margin: auto;
  margin-top: 50px;
}

.form-control.ng-invalid.ng-dirty.ng-touched{
  border: 2px solid red;
}
