<h1>ngIf</h1>
<!-- <div *ngIf="courses.length > 0">List of courses</div> -->
<!-- <div *ngIf="doWeHaveCourses()">List of courses</div> -->
<!-- <div *ngIf="courses.length === 0">No courses yet!</div> -->

<!-- ngIf in Angular 4.x -->
<div *ngIf="courses.length > 0;
  then CoursesList
  else noCourses">List of courses
</div>

<ng-template #CoursesList>List of courses</ng-template>
<ng-template #noCourses>No courses yet!</ng-template>
<!-- end -->

<bootabs></bootabs>

<for-directive></for-directive>

<favorite></favorite>
