.card {
    height: 200px;

    &.expanded {
        height: 350px;
    }

    .header {
        height: 70%;
        background-color: pink;
        position: relative;

        &.expanded {
            height: 25%;
        }

        fa-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 60px;
            color: white;
        }
    }

    .card-body {
        height: 30%;
        background-color: silver;
        position: relative;

        &.expanded {
            height: 75%;
            background-color: white;
        }

        h5 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.col-md-6 {

    &:nth-of-type(2) {
        .card {
            &.expanded {
                height: 90vh;
            }
        }
    }
}


.item-card {
    transition: 0.5s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
    height: 80px;
}

.card::before,
.card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
    transform: scale3d(1, 1, 1);
}

ul,
li {
    border: none !important;
}