<!-- 0 import form in the app.module -->
<!-- 1 make the bootstrap form -->
<!-- 2 hookup the form with the ts component -->
<!-- 3 add the validation error -->
<!-- add submit method to the form? -->
<!-- 4 add the dropdown to the form -->
<!-- 5 create an array of options in the ts component -->
<!-- 6 ngfor in the dropdown and hookup the value to the option.id -->
<!-- 7 add the checkbox -->

<h1>course form</h1>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">

  <div class="form-group">
    <label for="coursename">coursename</label>
    <input type="text" required minlength="4" maxlength="15" pattern="[A-Za-z0-9]+"
    ngModel name="coursename" #coursename="ngModel" (change)="log(coursename)"
    id="coursename" class="form-control">

    <div *ngIf="coursename.touched && !coursename.valid" class="alert alert-danger">
      <div *ngIf="coursename.errors.required">coursename required</div>
      <div *ngIf="coursename.errors.minlength">coursename too short</div>
      <div *ngIf="coursename.errors.pattern">coursename does not match the pattern</div>
    </div>
  </div>


  <div class="form-group">
    <label for="payment">payment</label>
    <select class="form-control" ngModel name="payment">
      <option value=""></option>
      <option  *ngFor="let asso of paymentMethods" [value]="asso.id">
        {{ asso.name }}
      </option>
    </select>
  </div>


  <div class="checkbox">
    <label>
      <input type="checkbox" required ngModel name="checkbox">
      fullrefund
    </label>
  </div>

  <p>{{ f.value | json }}</p>

  <button class="btn btn-primary" [disabled]="!f.valid">Create</button>

</form>
