// Extends
.custom-card{
  position: relative;
  border-radius: 3px;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: white;
}

.border-blue {
  border-top-color: #3c8dbc;
}
