<header>
    <!-- <img src="images/logo.svg"> -->
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a [routerLink]="['/typo']">typography</a></li>
            <li><a [routerLink]="['/checkbox']">checkbox</a></li>
            <li><a [routerLink]="['/radio']">radio btns</a></li>
            <li><a [routerLink]="['/select']">select</a></li>
            <li><a [routerLink]="['/input']">input</a></li>
            <li><a [routerLink]="['/textarea']">textarea</a></li>
            <li><a [routerLink]="['/datepicker']">datepicker</a></li>
            <li><a [routerLink]="['/icons']">icons</a></li>
            <li><a [routerLink]="['/buttons']">buttons</a></li>
            <li><a [routerLink]="['/chips']">chips</a></li>
            <li><a [routerLink]="['/spinners']">spinners</a></li>
            <li><a [routerLink]="['/tooltips']">tooltips</a></li>
            <li><a [routerLink]="['/tabs']">tabs</a></li>
            <li><a [routerLink]="['/dialogs']">dialogs</a></li>
            <li><a [routerLink]="['/table']">table</a></li>
        </ul>
    </nav>
</header>