header {
  margin: 50px auto 30px;
}

header nav {
  margin-top: 20px;
  height: 40px;
}

header nav ul li {
  display: inline;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 15px;
}

header nav ul li a:hover {
  color: #D10B0C;
}