h1{
  color: silver;
}


.poets-container{
  padding: 3%;
}


.maggie{
  width: 80px;
  height: 80px;
  border: 1px solid pink;
  background-color: grey;
  display: inline-block;
}
.asso{
  width: 80px;
  height: 40px;
  background-color: silver;
  cursor: pointer;
}

.asso p{
  text-align: center;
  line-height: 40px;
}

.open{
  border: 1px solid yellow ;
}
