<h1>Angular todo app</h1>
<h3>You have {{ items.length }} todos to do!</h3>

<button (click)="showForm()">Add todo</button>

<p *ngIf="newItem.task">About to add: {{ newItem | json }}</p>

<li *ngFor="let item of items">
  {{ item.task }}
  <button (click)="deleteItem(item)">Remove</button>
</li>
<!-- <li *ngFor="let item of items">{{ item.task }} - {{ item.done }}</li> -->


<form (ngSubmit)="addItem()" *ngIf="isFormVisible">

  <input [(ngModel)]="newItem.task" type="text" name="text" placeholder="what do you need to do?">
  <!-- whats ng-model does is binding the value of the input field to the value of the object 'newItem' in our component -->

  <input type="submit"  value="Add">

</form>
