<h1>Modale 1</h1>
<form #usimForm="ngForm" (submit)="postCreate(usimForm)">

  <label for="title">address</label>
  <input type="text" name="address" value="address" [(ngModel)]="propertyNew.address">

  <label for="title">postcode</label>
  <input type="text" name="postcode" value="postcode" [(ngModel)]="propertyNew.postcode">

  <label for="title">bedrooms</label>
  <input type="text" name="bedrooms" value="bedrooms" [(ngModel)]="propertyNew.bedrooms">

  <label for="title">bathrooms</label>
  <input type="text" name="bathrooms" value="bathrooms" [(ngModel)]="propertyNew.bathrooms">

  <label for="title">askingPrice</label>
  <input type="text" name="askingPrice" value="askingPrice" [(ngModel)]="propertyNew.askingPrice">

  <label for="title">floorArea</label>
  <input type="text" name="floorArea" value="floorArea" [(ngModel)]="propertyNew.floorArea">

  <label for="title">dateAvailable</label>
  <input type="text" name="dateAvailable" value="dateAvailable" [(ngModel)]="propertyNew.dateAvailable">

  <label for="title">image</label>
  <input type="text" name="image" value="image" [(ngModel)]="propertyNew.image">


  <div *ngIf="address">
    <p><span>address</span>{{ address }}</p>
    <p><span>postcode</span>{{ postcode }}</p>
    <p><span>status</span>{{ status }}</p>
  </div>

  <ul *ngIf="usims.length > 0">
    <li *ngFor="let usim of usims; index as i">
      <p><span>IMEI:</span>{{ usim.imei }}</p>
      <p><span>NUMBER:</span>{{ usim.number }}</p>
      <p><span>ISDSN:</span>{{ usim.isdsn }}</p>
      <!-- checkbox -->
      <label class="control--checkbox">
        <input (change)="usimSelect($event, i)" type="checkbox" [checked]="usim"/>
        <div class="checkbox">
          <div class="filler"></div>
          <svg width="15px" height="15px" viewBox="0 0 20 20">
            <polyline points="4 10 8 15 16 6"></polyline>
          </svg>
        </div>
      </label>
      <!-- hidden field -->
      <input type="hidden" [(ngModel)]="propertyNew.usimsPreselected" name="usimsPreselected" id="usimsPreselected">
    </li>
  </ul>

  <button>Add Property</button>


</form>

<p>{{ usimForm.value | json }}</p>


<modale2></modale2>
