<div class="asso">
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
        <mat-slide-toggle (change)="toggleTheme($event.checked)">Slide me!</mat-slide-toggle>

    </mat-toolbar>

    <!-- <button mat-raised-button color="primary">Action</button>
    <button mat-raised-button color="accent">accent</button>
    <button mat-raised-button color="warn">warn</button> -->
</div>




